{% extends 'base.html.twig' %}

{% block title %}Creer un produit{% endblock %}

{% block body %}
    <h1>Creer un produit</h1>

    {{ include('produit/_form.html.twig') }}

    <a href="{{ path('app_produit_index') }}">Retour au catalogue</a>
{% endblock %}
