{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
		<h5></strong>Catégorie : {{ categorie.nom }}</strong></h5>
		{% for sscat in categorie.ssCategories %}
			
			<div class="col-3">
			<a href="{{ path("app_home_sscategorie", {sscategorie: sscat.id}) }}">		
			<div class="card">
					<div class="card-body">
						<img src="/imagesVG/ssCatPho/{{sscat.photo}}"alt="card-img-top">
						<h6 class="card-title">{{sscat.nom}}</h6>
					</div>
					</a>
				</div>
			</div>
			
		{% endfor %}
		<p></p>
	
</article>{% endblock %}
