{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h3>Accueil</h3>
<p>Bienvenue!!</p>
 <p>A propos</p>
 <p>Sit laboriosam quis ad blanditiis voluptatem ex doloribus perferendis vel impedit quisquam. Et exercitationem illum ex expedita odit quod quod. Ut enim beatae in nisi modi sit maxime cumque aut alias ratione qui dolorem veniam eum suscipit corporis. Et autem consequatur ab libero magni sed ipsa voluptatem et quaerat optio. </p>
<p>Sit laboriosam quis ad blanditiis voluptatem ex doloribus perferendis vel impedit quisquam. Et exercitationem illum ex expedita odit quod quod. Ut enim beatae in nisi modi sit maxime cumque aut alias ratione qui dolorem veniam eum suscipit corporis. Et autem consequatur ab libero magni sed ipsa voluptatem et quaerat optio. </p>
<p>Notre catalogue :<p>
<q>La musique donne une âme à nos coeurs, et des ailes à la pensée."</q>
<p>Platon</p>
<P>Meilleures Ventes:</p>
<p>Parce que nous travaillons en direct avec les plus grandes marques, nous pouvons vous proposer les meilleurs prix du marché.</p>
<P>Marques Vedettes </p>
<q>La musiques peut rendre les hommes LIBRES.</q>
<p>Actualités:</p>
{% endblock %}
