{% extends 'base.html.twig' %}

{% block title %}Les marques{% endblock %}

{% block body %}
    <h1>Nos Marques: </h1>

    
        {% for fournisseur in fournisseurs %}
            
            <div class="col-3">
			<a href="{{ path("app_marques_produit", {fournisseur: fournisseur.id}) }}">		   
                <td>{{ fournisseur.nom }}</td>
               <td>	<img src="imagesVG/foupho/{{fournisseur.photo}}"alt="card-img-top"></td>
               
           </div>
       
          
        {% endfor %}
      {% endblock %}   
    
