


{% block body %}
<header>
<h1>VILLAGE GREEN
		</h1>
		<p>nous contacter</p>
		<p>A propos
		</p>
		<p>Recherche</p>
		<p></p>
		<p>Frais de port offert à partir de 49 euros</p>
		<p>Garantie 3 ans</p>
		<p>Devise
		</p>
		<p>Identifiez-vous</p>
		<p>Votre panier</p>
</header>
{% endblock %}
