


{% block body %}
	<header >
		 <div class="jumbotron"> 
		 	<div class="text-right mt-3">
				<p>Frais de port offert à partir de 49 euros</p>
				<p>Garantie 3 ans</p>
				<p>Devise €</p>
	 		</div>
			

				<h1 class="text-center col-12  mt-0">VILLAGE GREEN</h1>
				<br>
			<div class="row my-0 mt-5 text-center">
		
		
		<p class="col-2 p-b-0">nous contacter</p>
				<p class="col-2">A propos</p>
				<p class="col-2">Recherche</p>
				<p class="col-2">S'identifier</p>
				<p class="col-2">S'inscrire</p>
				<p class="col-2">Votre panier</p>
	
	</div>

	</div> 
</header>
{% endblock %}
