
{# reste a faire : rendre responsive,corriger police ,mettre lien en place #}


</div>
<footer  id="footer" class=" text-center text-dark col-12 mt-5">
  
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-4 ">
          <h5 class="text-uppercase mt-5">Besoin d'aide?</h5>

          <ul class="list-unstyled mb-5">
            <li>
              <a href="#!" class="text-dark mt-5">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">Livraison et Reglements</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">Nous contacter </a>
            </li>
           </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 ">
          <h5 class="text-uppercase mt-5 ">Services et Produits</h5>

          <ul class="list-unstyled mb-5">
            <li>
              <a href="#!" class="text-dark mt-5">Garanties</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">Cartes cadeaux</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">Mentions légales</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">CGV</a>
            </li>
            <li>
            <a href="#!" class="text-dark mt-5">CGU</a>
          </li>
          <li>
          <a href="#!" class="text-dark mt-5">Protection des données personnelle</a>
        </li>
        <li>
        <a href="#!" class="text-dark mt-5">Gerer mes cookies</a>
      </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 ">
          <h5 class="text-uppercase mt-5">A propos</h5>

          <ul class="list-unstyled mb-5">
            <li>
              <a href="#!" class="text-dark mt-5">Société Village green</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">Nos engagements</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">Recrutement</a>
            </li>
            <li>
              <a href="#!" class="text-dark mt-5">Devenez partenaire</a>
            </li>
            <li>
            <a href="#!" class="text-dark mt-5">Vente en gros</a>
          </li>
          </ul>
        </div>
        <!--Grid column-->

       
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  

  
</footer>
<!-- Footer -->