header{
    font-family:Jacques Francois;
    background-color: #264653;
}

#navbar-center
{
    text-align: center;
    /* justify-content: center; */
  
    font-family:Jacques Francois;
}

#navbar-left{
    text-align: left;
    /* justify-content:start; */
    
}
#navbar-gen{
/* display:flex; */
justify-content: space-around;
    background-color: #2A9D8F;
  /* justify-content: center !important ; */
}
#ulgeneral{
   
  
  display: flex;
  padding: 2;
  justify-content: space-around;
 
}
#navbar-admin{
    

    display:flex;
    margin: 0;
    padding: 2;
    justify-content: space-around;
    background-color: #E9C46A ;
      
}
#panier{
    background-color: #2A9D8F;
}   
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}
 
#footer{
    background-color: #2A9D8F;
}
#crud
{
    text-align: center;
    /* justify-content: center; */
  
}