header{
    font-family:Jacques Francois;
    background-color: #264653;
}

#navbar-center
{
    text-align: center;
    justify-content: center;
  
    font-family:Jacques Francois;
}

#navbar-left{
    text-align: left;
    justify-content:start;
    
}
#navbar-gen{
display:flex;
    background-color: #E9C46A;
  justify-content: center !important ;}

  #navbarSupportedContent a{
    padding-left: 200px;
}