{% extends 'base.html.twig' %}

{% block title %}Edit SsCategorie{% endblock %}

{% block body %}
{{include ("./base/navbaradmin.html.twig")}}
    <h1>Edit SsCategorie</h1>

    {{ include('ss_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ss_categorie_index') }}">back to list</a>

    {{ include('ss_categorie/_delete_form.html.twig') }}
{% endblock %}
