{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
<div class="col-12 text-center text-info">
<h1 class="text-center mt-5">Ajouter une sous catégorie</h1>

    {{ include('ss_categorie/_form.html.twig') }}

    <a href="{{ path('app_ss_categorie_index') }}"class="btn btn-info mt-3">Retour a la liste</a>
</div>
{% endblock %}
