{% extends 'base.html.twig' %}

{% block title %}Creer un produit
{% endblock %}

{% block body %}
	<div class="col-12 text-center text-info">
		<h1 class="text-center mt-5">Creer un produit</h1>

		{{ include('produit/_form.html.twig') }}

		<a href="{{ path('app_produit_index') }}" class="btn btn-info text-center mx-3 my-3">Retour au catalogue</a>
	</div>
	{% endblock %}
