{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
{{include ("./base/navbaradmin.html.twig")}}
<h1 class="text-center text-info mt-5 "><q><strong> Tout est possible à qui rêve, ose, travaille et n'abandonne jamais. </strong></q><p class="mt-3"> Xavier Dolan<p></h1>
<div class="col-12 text-center">
<h3 class= "text-info mt-5"><strong>Aujourd'hui :</strong></h3>

<p><strong class="text-info mt-5">36</strong> commandes ont été passés.</p>
<p><strong class="text-info mt-5">5</strong> clients se sont inscrit.</p>
<p><strong class ="text-info mt-5">225</strong> persones ont visités notre site.</p>
</div>
{% endblock %}
