<form method="post" action="{{ path('app_actu_delete', {'id': actu.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ses evenements?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actu.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
