{% extends 'base.html.twig' %}

{% block title %}Creer une Actu
{% endblock %}

{% block body %}
	<div class="col-12 text-center text-info">
		<h1 class="text-center mt-5">Creer une Actu</h1>

		{{ include('actu/_form.html.twig') }}

		<a href="{{ path('app_actu_index') }}" class="btn btn-info mx-3 my-3">Retour à la liste</a>
	{% endblock %}