{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<article>
		<h3>Accueil</h3>
		<p>Bienvenue!!</p>
		<p>A propos</p>
		<p>Sit laboriosam quis ad blanditiis voluptatem ex doloribus perferendis vel impedit quisquam. Et exercitationem illum ex expedita odit quod quod. Ut enim beatae in nisi modi sit maxime cumque aut alias ratione qui dolorem veniam eum suscipit corporis. Et autem consequatur ab libero magni sed ipsa voluptatem et quaerat optio.
		</p>
		<p>Sit laboriosam quis ad blanditiis voluptatem ex doloribus perferendis vel impedit quisquam. Et exercitationem illum ex expedita odit quod quod. Ut enim beatae in nisi modi sit maxime cumque aut alias ratione qui dolorem veniam eum suscipit corporis. Et autem consequatur ab libero magni sed ipsa voluptatem et quaerat optio.
		</p>
	</article>
	<article>
		<p>Notre catalogue :</p>
		{% for categorie in categories %}
			<div class="col-3">
				<div class="card">
					<div class="card-body">

						<h5 class="card-title">
							<p class="card-text">{{categorie.nom}}</p>
						</h5>

					</div>
				</div>
			</div>
		{% endfor %}
		<p></p>
	</article>
	<div>
		<q>La musique donne une âme à nos coeurs, et des ailes à la pensée."</q>
	</p>
	<p>Platon</p>
</div>
<article>
	<P>Meilleures Ventes:</p>
	{% for produit in produits %}
		<div class="col-3">
			<div class="card">
				<div class="card-body">

					<h5 class="card-title">
						<p class="card-text">{{produit.libelle}}</p>
					</h5>

				</div>
			</div>
		</div>
	{% endfor %}
</article>
<div>
	<p>Parce que nous travaillons en direct avec les plus grandes marques, nous pouvons vous proposer les meilleurs prix du marché.</p>
</div>
<article>
	<p>Marques Vedettes</p>
	{% for fournisseur in fournisseurs %}
		<div class="col-3">
			<div class="card">
				<div class="card-body">

					<h5 class="card-title">
						<p class="card-text">{{fournisseur.nom}}</p>
					</h5>

				</div>
			</div>
		</div>
	{% endfor %}
</article>
<div>
	<q>La musiques peut rendre les hommes LIBRES.</q>
	<p>Bob Marley</p>
</div>
<article>
	<p>Actualités:</p>
	{% for actu in actus %}
		<div class="col-3">
			<div class="card">
				<div class="card-body">

					<h5 class="card-title">
						<p class="card-text">{{actu.titre}}</p>
					</h5>

				</div>
			</div>
		</div>
	{% endfor %}
</article>{% endblock %}
