{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<div class="col-12 text-center text-info">
		<h1 class="text-center mt-5">Creer un utilisateur</h1>

		{{ include('user/_form.html.twig') }}

		<a href="{{ path('app_user_index') }}" class="btn btn-info mx-3 my-3">Retour à la liste</a>
	{% endblock %}